Flask-Redis==0.1.0
Flask-RESTful==0.3.5
mockredispy==2.9.3
pytest==2.9.1
pytest-capturelog==0.7
pytest-cov==2.2.1
pytest-describe==0.10.3
pytest-expecter==0.2.2.post3
pytest-flask==0.10.0
pytest-random==0.2
pytest-runfailed==0.5
